@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "tailwindcss";
@theme {
  --font-noto: "Noto Sans JP", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --size-screen: 100dvh;

  --color-primary: #c0f354;
  --color-secondary: #8843e1;
  --color-success: #52c41a;
  --color-warning: #fa5b01;
  --color-danger: #ff4d4f;
  --color-black: #111111;
  --color-gray-10: #1a1a1a;
  --color-gray-20: #333333;
  --color-gray-30: #4d4d4d;
  --color-gray-40: #666666;
  --color-gray-50: #808080;
  --color-gray-60: #999999;
  --color-gray-70: #b3b3b3;
  --color-gray-80: #cccccc;
  --color-gray-90: #e6e6e6;
}

* {
  font-family: var(--font-noto);
}
.font-oswald {
  font-family: var(--font-oswald);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
